<div>
  <div>Something went wrong</div>
  {{#if systemError}}
    {{#unless production}}
      <div>
        error: {{error}}<br />
        error description: {{error_description}}
      </div>
    {{/unless}}
  {{else}}
    <div>
      User Land Error<br />
      error: {{error}}<br />
      error description: {{error_description}}
    </div>
  {{/if}}
</div>
