<h1>Profile</h1>
<form action="{{formAction}}" method="post">
  {{#each fields}}
    <label for='{{name}}'>{{label}}</label>
    <input
      id='{{name}}'
      type='{{type}}'
      name='{{name}}'
      placeholder='{{label}}'
      value='{{value}}'
    />
    {{#if error}}
      <div class="validation-errors-list">
        {{#each error}}
          <div class="validation-error">{{this}}</div>
        {{/each}}
      </div>
    {{/if}}
  {{/each}}

  <button type="submit" class="profile profile-submit">Submit</button>
</form>
