<form action="{{formAction}}" method="post" enctype="multipart/form-data">
  {{#each fields}}
    <div class="input-scaffold">
      <label>
        <span class="input-scaffold__label">{{label}}</span>
        {{#if isDropdown}}
          <select
            name="{{name}}"
            class="input-scaffold__input"
          >
            {{#each options}}
              <option value={{value}} {{#if selected}}selected{{/if}}>{{label}}</option>
            {{/each}}
          </select>
        {{else if isFile}}
          {{#if value}}<img src="{{value}}" alt="Profile picture" />{{/if}}
          <input
            id="{{name}}"
            class="input-scaffold__input"
            type="file"
            accept="{{accept}}"
            name="{{name}}"
          />
        {{else}}
          <input
            id="{{name}}"
            class="input-scaffold__input"
            type="{{type}}"
            name="{{name}}"
            placeholder="{{label}}"
            value="{{value}}"
          />
        {{/if}}
      </label>
      {{#if error}}
        <div class="input-scaffold__validation">
          {{#each error}}
            <div class="validation-error">{{this}}</div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  {{/each}}

  <button type="submit">Submit</button>
</form>
