<form action="{{formAction}}" method="post">
  {{#if error}}
    <div class="alerts">
      {{#each validationErrorMessages.client_id}}
        <div class='alert alert--error'>{{this}}</div>
      {{/each}}
      {{#each validationErrorMessages.redirect_uri}}
        <div class='alert alert--error'>{{this}}</div>
      {{/each}}
      {{#each validationErrorMessages.scope}}
        <div class='alert alert--error'>{{this}}</div>
      {{/each}}
      {{#each validationErrorMessages.response_type}}
        <div class='alert alert--error'>{{this}}</div>
      {{/each}}
    </div>
  {{/if}}

  <div class="input-scaffold">
    <label>
      <span class="input-scaffold__label">Email</span>
      <input
        class="input-scaffold__input"
        type="text"
        name="email"
        value="{{email}}"
      />
    </label>
    {{#if error}}
      <div class="input-scaffold__validation">
        {{#each validationErrorMessages.email}}
          <div class="validation-error">{{this}}</div>
        {{/each}}
      </div>
    {{/if}}
  </div>

  <div class="input-scaffold">
    <label>
      <span class="input-scaffold__label">Password</span>
      <input
        class="input-scaffold__input"
        type="password"
        name="password"
      />
    </label>
    {{#if error}}
      <div class="input-scaffold__validation">
        {{#each validationErrorMessages.password}}
          <div class="validation-error">{{this}}</div>
        {{/each}}
      </div>
    {{/if}}
  </div>

  <div class="input-scaffold">
    <label>
      <span class="input-scaffold__label">Re-enter Password</span>
      <input
        class="input-scaffold__input"
        type="password"
        name="pass2"
      />
    </label>
    {{#if error}}
      <div class="input-scaffold__validation">
        {{#each validationErrorMessages.pass2}}
          <div class="validation-error">{{this}}</div>
        {{/each}}
      </div>
    {{/if}}
  </div>

  <button type="submit">Sign Up</button>
</form>
