<form autocomplete="off" action="/interaction/{{cookie.uuid}}/login" method="post">
  {{#if error}}
    <div class="alerts">
      <div class='alert alert--error'>{{error}}</div>
    </div>
  {{/if}}

  <input type="hidden" name="uuid" value="{{cookie.uuid}}" />

  <div class="input-scaffold">
    <label>
      <span class="input-scaffold__label">Email</span>
      <input
        class="input-scaffold__input"
        type="text"
        name="login"
        {{#if cookie.params.login_hint}}value="{{cookie.params.login_hint}}"{{else}}autofocus="on"{{/if}}
      />
    </label>
    {{#if error}}
      <div class="input-scaffold__validation">
        {{#each validationErrorMessages.email}}
          <div class="validation-error">{{this}}</div>
        {{/each}}
      </div>
    {{/if}}
  </div>

  <div class="input-scaffold">
    <label>
      <span class="input-scaffold__label">Password</span>
      <input
        class="input-scaffold__input"
        type="password"
        name="password"
        {{#if cookie.params.login_hint}}autofocus="on"{{/if}}
      />
    </label>
    {{#if error}}
      <div class="input-scaffold__validation">
        {{#each validationErrorMessages.password}}
          <div class="validation-error">{{this}}</div>
        {{/each}}
      </div>
    {{/if}}
  </div>

  <label>
    <input type="checkbox" name="remember" value="yes" checked="yes"> Stay signed in
  </label>

  <button type="submit">Sign-in</button>
</form>
